<div class="automatically_load_mo_file clearfix">
    <div class="col-left">
        <input {{ theme_localization_load_textdomain.checked }} type="checkbox" name="theme_localization_load_textdomain" value="{{ theme_localization_load_textdomain.value }}" > <label>{{ theme_localization_load_textdomain.label }}</label>
    </div>
    <div class="col-right">
        {{ gettext_theme_domain_name.label }} <input type="text" name="gettext_theme_domain_name" value="{{ gettext_theme_domain_name.value }}">
    </div>
</div>