{{ conf_warnings|raw }}

{{ store_pages|raw }}

{{ products|raw }}

{{ taxonomies|raw }}

{{ multi_currency|raw }}

{{ plugins_status|raw }}

{{ media|raw }}

<a class="alignright wpml-margin-top-sm" href="{{ troubl_url }}">
    {{ strings.troubl }}
</a>