<div id="{{ dialog.id }}"
     class="{{ dialog.class }}"
     title="{{ dialog.strings.title }}"
     style="display:none"
     data-save-text="{{ dialog.strings.save_text }}"
     data-cancel-text="{{ dialog.strings.cancel_text }}">

    {% include 'language-pairs.twig' %}

</div>
