<div id="wcml-setup-wizard" class="updated message wpml-message">
    <p>
        <strong>{{ text.prepare }}</strong><br/>
        {{ text.help }}
    <ul class="wcml-notice-list">
        <li>{{ text.store }}</li>
        <li>{{ text.attributes }}</li>
        <li>{{ text.currencies }}</li>
    </ul>
    </p>
    <p class="submit">
        <a href="{{ setup_url }}"
           class="button-primary">{{ text.start }}</a>
        <a href="{{ skip_url|raw }}"
           class="button-secondary skip">{{ text.skip }}</a>
    </p>
</div>
