<span id="{{ strings.step_id }}">
<h1>{{ strings.heading }}</h1>

<p>{{ strings.description }}</p>

{{ store_pages|raw }}

<p class="wcml-setup-actions step">
    <a href="{{ continue_url }}" class="button button-primary button-large submit">{{ strings.continue }}</a>
</p>
</span>