<label class="label-header"><strong>{{ gateway_title }}</strong></label>
<div class="wpml-form-row">
    <label>{{ strings.currency_label }}</label>
    <select name="currency_options[gateways_settings][{{ gateway_id }}][currency]" id="wcml_currency_options_gateway_code_{{ gateway_id }}">
        {% for code, currency_details in currencies_details %}
            <option value="{{ code }}" {% if ( gateway_settings and code == gateway_settings.currency ) or ( gateway_settings is empty and code == current_currency ) %}selected="selected"{% endif %} data-email="{{ currency_details.value }}" data-is-valid="{{ currency_details.is_valid }}" >{{ code }}</option>
        {% endfor %}
    </select>
    <i class="wcml-tip otgs-ico-warning paypal-gateway-warning" data-tip="{{ strings.not_supported }}" {% if selected_currency_valid %}style="display: none;"{% endif %}></i>
</div>
<div class="wpml-form-row">
    <label>{{ strings.setting_label}}</label>
    <input type="text" name="currency_options[gateways_settings][{{ gateway_id }}][value]" value="{% if gateway_settings %}{{ gateway_settings.value }}{% endif %}" {% if not selected_currency_valid %}readonly="readonly"{% endif %}/>
</div>