<strong class="wpml-display-block wpml-margin-bottom-sm">{{ header }}</strong>
{{ content_1 }}<br/>{{ content_2 }}

<div>
    <input type="button" class="js-wpml-end-user-send-request button button-primary" value="{{ button_label }}" data-confirm-message="{{ confirm_message }}" />
</div>