{% set count = 0 %}
	<h3>
		{{ strings.title }}
	</h3>

	{% if strings.message %}
		<p>
			{{ strings.message }}
		</p>
	{% endif %}

	<div>
		<div>
			<ul class="wpml-status-list wpml-plugins-status-list">
				{% for requirement in data.requirements %}
					<li>
						{% if requirement.missing %}
							<i class="otgs-ico-warning"></i>
						{% else %}
							<i class="otgs-ico-ok"></i>
						{% endif %}
						{{ requirement.name }}
						{% if requirement.missing and not requirement.disabled %}
							(<a href="{{ shared.install_link }}">{{ strings.install }}</a> | <a href="{{ requirement.url }}" target="_blank">{{ strings.download }}</a>)
						{% endif %}
                        {% if requirement.disabled %}
                            (<a data-wpml-activated="{{ strings.activated }}" data-wpml-error="{{ strings.error }}" data-wpml-activating="{{ strings.activating }}" data-wpml-disabled-plugin-nonce="{{ requirement.activation_nonce }}" class="wpml-requirements-disabled" data-plugin-file="{{ requirement.plugin_file }}" href="#">{{ strings.activate }}</a>)
                        {% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
