<tr class="user-language-wrap">
    <th colspan="2"><h3><a name="wpml"></a>{{ strings.section_title }}</h3></th>
</tr>
<tr class="user-language-wrap">
    <th>{{ strings.field_title }}</th>
    <td>
        <input type="checkbox" name="{{ strings.field_name }}" id="{{ strings.field_name }}" value="0" {{ strings.checked }} />
        &nbsp;<label for="{{ strings.field_name }}">{{ strings.field_text }}</label>
    </td>
</tr>