<p>{{ intro_message_1|raw }}</p>
<p>{{ intro_message_2|raw }}</p>
<p><strong><a href="{{ setup_url }}">{{ setup }}</a></strong></p>
<p>{{ reminder|raw }}</p>
<p>
    {{ at_your_service }},<br />
    {{ admin_name }}<br />
    {{ admin_for_site|raw }}
</p>
