<tr>
    <th scope="col" class="manage-column sortable ts-admin-section-logo-head {{ table_sort.name.classes }}"><a href="{{ table_sort.name.url }}"><span>{{ strings.columns.name }}</span><span class="sorting-indicator"></span></a></th>
    <th scope="col" class="manage-column ts-admin-section-description-head">{{ strings.columns.description }}</th>

    <th scope="col" class="{{ table_sort.popularity.classes }} ts-admin-section-rating sortable"><a href="{{ table_sort.popularity.url }}"><span>{{ strings.columns.popularity }}</span><span class="sorting-indicator"></span></a></th>
    <th scope="col" class="{{ table_sort.speed.classes }} ts-admin-section-rating sortable"><a href="{{ table_sort.speed.url }}"><span>{{ strings.columns.speed }}</span><span class="sorting-indicator"></span></a></th>

    <th scope="col" class="manage-column"></th>
</tr>